  <div class="container first-box">
    <div style="display: flex;flex-direction: column;justify-content: space-between; height: 100%;">
      <div>
        <%= link_to 'Gas', gas_index_path, class: 'button menu-link' %>
        <%= link_to 'Buyers', buyers_path, class: 'button menu-link' %>
        <%= link_to 'Reports', reports_path(type: "complete_purchase"), class: 'button menu-link' %>
      </div>

      <div>
        <br>
        <h2>Buyer Name:</h2>
        <div class="field">
          <%= select_tag "Buyers Available", options_for_select(@buyers.map {|buyer| [buyer.name, buyer.id, {'data-loyalty_card' => buyer.loyalty_card }]}, @last_buyer), {class: 'no-margin-btm', name: "buyer", disabled: @buyers.blank?, id: "current_buyer", onchange: "leaveChange()"}  %>

        </div>
      </div>
    </div>

  </div>