<div class="container">
  <%= form_with(model: gas, local: true) do |form| %>
    <% if gas.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(gas.errors.count, "error") %> prohibited this gas from being saved:</h2>

        <ul>
        <% gas.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :gas_type %>
      <%= form.text_field :gas_type, id: :gas_gas_type %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, id: :gas_price %>
    </div>

    <div class="field">
      <%= form.label :remaining_volume %>
      <%= form.text_field :remaining_volume, id: :gas_remaining_volume %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>