  <div class="container last-box">
    <div style="display: flex;">
      <h1>Gas Left: <%= @gas.present? ? total_gas_remaining(@gas.pluck(:remaining_volume).compact) : 0%>%</h1>
    </div>
    <br/>
    <% @gas.each do |gas| %>
      <div style="display: flex;">
        <div class="gas_initial" style="width: 40px; height: 40px; font-size: 2rem;"><%=gas.gas_type[0].titleize%></div>
        <h2 class="margin-x"><%=gas.gas_type%>:&nbsp;</h2>
        <h2><%=remaining_gas_percentage(gas.remaining_volume)%> L</h2>
      </div>
      <br />
    <%end%>

    <div>
      <hr>
      <br />
      <h3>Recent Purchase History</h3>
      <table>
        <thead>
          <tr>
            <th>Buyer</th>
            <th>Gas Type</th>
            <th>Total Pay</th>
            <th>Total Discount</th>
            <th>Liters Bought</th>
          </tr>
        </thead>

        <tbody>
          <% @purchase_histories.limit(4).each do |purchase_history| %>
            <tr>
              <td><%= purchase_history.name %></td>
              <td><%= purchase_history.gas_type %></td>
              <td>Php <%= purchase_history.total_pay %></td>
              <td>Php <%= purchase_history.total_discount || 0 %></td>
              <td><%= purchase_history.liters_bought %> L</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>