  <div class="container middle-box">
    <%= form_tag(purchase_gas_path, method: "post", local: true) do %>
    <%=hidden_field_tag :buyer_id%>
    <%=hidden_field_tag :loyalty_card%>
    <%=hidden_field_tag :total_gas_pay%>
    <%=hidden_field_tag :total_gas_discount%>
    <%=hidden_field_tag :total_liters_bought%>

    <% gas_list.each do |gas| %>
    <div class="card">
      <div style="display: flex;">
        <div class="gas_initial"><%=gas.gas_type[0].titleize%></div>
        <div class="margin-x" style="width: 120px;">
          <h1><%=gas.price%> / L</h1>
          <h2 class="price"><%=gas.gas_type%></h2>
        </div>

        <div>
          <%= number_field_tag "gas[#{gas.volume_id}]", "", min: 0, class: "gas_input_field", onchange: "calculate_total_pay()", onmouseout: "calculate_total_pay()", data: {price: gas.price, gas: gas.gas_type}%>
        </div>
      </div>
    </div>
    <br />
    <%end%>

    <hr>

    <div style="display: flex; justify-content: space-between;">
      <h3>Total Pay:</h3>
      <h3>Php <span id="total_pay">1231.1</span></h3>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <h3>Discount:</h3>
      <h3>Php <span id="discount">1231.1</span></h3>
    </div>

    <hr>
    <br>
    <div style="display: flex; justify-content: space-between;">
      <%= submit_tag("Confirm", disabled: @gas.blank?) %>

      <a class="button" onclick="clearFields()" style="margin-top: 0 !important; padding-top: 8px;">Clear</a>
    </div>

    <%end%>
  </div>

  <script type="text/javascript">
    var current_buyer = document.getElementById("current_buyer");
    var loyalty_card = document.getElementById("loyalty_card")
    function leaveChange() {
        document.getElementById("buyer_id").value = current_buyer.value;
        var buyer_selected = current_buyer.options[current_buyer.selectedIndex];
        loyalty_card.value = buyer_selected.dataset.loyalty_card;
        calculate_total_pay();
    }
    current_buyer.onchange();

    function calculate_total_pay() {
       var total_pay = total_price = total_discount = total_liters_bought = 0;
        var input = document.getElementsByClassName("gas_input_field");

        for (var i = 0; i < input.length; i++) {
            var litter_of_gas_purchased = input[i];
            var price_per_litter = input[i].dataset.price;
            var gas_type = input[i].dataset.gas;

            if (litter_of_gas_purchased.value !== "" && litter_of_gas_purchased.value != 0) {
              total_price = parseFloat(litter_of_gas_purchased.value) * parseFloat(price_per_litter);
              total_liters_bought = total_liters_bought + parseFloat(litter_of_gas_purchased.value)
              if (loyalty_card.value !== "" && gas_type.toLowerCase() == "diesel") {
                var discount = (20 * total_price) / 100;
                total_pay = total_pay + (total_price - discount);
                total_discount = total_discount + discount;
              }
              else if (loyalty_card.value !== "") {
                var discount = (10 * total_price) / 100;
                total_pay = total_pay + (total_price - discount);
                total_discount = total_discount + discount;
              } else {
                total_pay = total_pay + total_price;
                total_discount = total_discount + 0;
              }

            };
        }

        document.getElementById("total_pay").innerText = parseFloat(total_pay).toFixed(2);
        document.getElementById("discount").innerText = parseFloat(total_discount).toFixed(2);
        document.getElementById("total_gas_pay").value = parseFloat(total_pay).toFixed(2);
        document.getElementById("total_gas_discount").value = parseFloat(total_discount).toFixed(2);
        document.getElementById("total_liters_bought").value = parseFloat(total_liters_bought).toFixed(2);
    }

    function clearFields() {
      var input = document.getElementsByClassName("gas_input_field");

      for (var i = 0; i < input.length; i++) {
        input[i].value = "";
      }
    }
  </script>