<p id="notice"><%= notice %></p>

<div style="display: flex;">
  <%= render 'first_box', gas_list: @gas %>

  <%= render 'middle_box', gas_list: @gas %>

  <%= render 'last_box', gas_list: @gas %>
</div>