<p id="notice"><%= notice %></p>

<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h1>Gas</h1>
  <%= link_to '❮ Dashboard', root_path, class: "button" %>
</div>

<table>
  <thead>
    <tr>
      <th>Gas type</th>
      <th>Price</th>
      <th>Remaining Volume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gas.each do |gas| %>
      <tr>
        <td><%= gas.gas_type %></td>
        <td><%= gas.price %></td>
        <td><%= gas.remaining_volume || 0 %> Liters / <%=GasVolume::GAS_TANK_CAPACITY%> Liters</td>
        <td><%= link_to 'Show', gas %></td>
        <td><%= link_to 'Edit', edit_gas_path(gas) %></td>
        <td><%= link_to 'Delete', gas, method: :delete, data: { confirm: "Are you sure to delete #{gas.gas_type}?\nThis will also delete all purchase history for this record." } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ New Gas', new_gas_path, class: "button" %>
