<div class="container">
	<div>
	  <div style="display: flex; justify-content: space-between; align-items: baseline;">
	    <h1><%=reports_helper(@type)%></h1>
	    <%= link_to '❮ Dashboard', root_path, class: "button" %>
	  </div>
	  <%= link_to 'Complete Purchase History', reports_path(type: "complete_purchase") %> |
	  <%= link_to 'Loyalty Buyer Transcation History', reports_path(type: "loyalty_buyer") %>
	  <table>
	    <thead>
	      <tr>
	        <th>Buyer</th>
	        <th>Gas Type</th>
	        <th>Total Pay</th>
	        <th>Total Discount</th>
	        <th>Liters Bought</th>
	      </tr>
	    </thead>

	    <%if @purchase_histories.present?%>
	    <tbody>
	      <% @purchase_histories.each do |purchase_history| %>
	        <tr>
	          <td><%= purchase_history.name %></td>
	          <td><%= purchase_history.gas_type %></td>
	          <td>Php <%= purchase_history.total_pay %></td>
	          <td>Php <%= purchase_history.total_discount || 0 %></td>
	          <td><%= purchase_history.liters_bought %> L</td>
	        </tr>
	      <% end %>
	      <tr style="border-top: 2px solid #003a6c;">
	      	<td></td>
	      	<td></td>
	      	<td>Php <%=@purchase_histories.pluck(:total_pay).inject(0, :+).to_f%></td>
	      	<td>Php <%=@purchase_histories.pluck(:total_discount).inject(0, :+).to_f%></td>
	      	<td><%=@purchase_histories.pluck(:liters_bought).inject(0, :+).to_f%> L</td>
	      </tr>
	    </tbody>
	    <%end%>
	  </table>
	</div>
</div>