<h1>Gas with ID: <%=@gas.id%></h1>

<p id="notice"><%= notice %></p>

<div class="container">
    <div class="field">
      <%= label_tag :gas_type %>
      <%= text_field_tag :gas_type, @gas.gas_type, disabled: true %>
    </div>

    <div class="field">
      <%= label_tag :price %>
      <%= number_field_tag :price, @gas.price, min: 0, class: "gas_input_field", disabled: true%>
    </div>

    <div class="field">
      <%= label_tag :remaining_volume %>
      <%= number_field_tag :remaining_volume, @gas.remaining_volume, min: 0, class: "gas_input_field", disabled: true%>
    </div>

    <%= link_to 'Edit', edit_gas_path(@gas), class: 'button' %>
</div>

<br>

<%= link_to '❮ Back', gas_index_path, class: "button" %>

