<div class="container">
  <%= form_with(model: buyer, local: true) do |form| %>
    <% if buyer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(buyer.errors.count, "error") %> prohibited this buyer from being saved:</h2>

        <ul>
        <% buyer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :buyer_name %>
    </div>

    <div class="field loyalty_cards">
      <%= form.label :loyalty_card %><br />

      <%= form.radio_button :loyalty_card,  "", id: "buyer_loyalty_card" %>
      <%= form.label :loyalty_card, "None"  %><br />

      <% @loyalty_card.each_with_index do |loyalty_card, index| %>
        <%= form.radio_button :loyalty_card, loyalty_card, id: "buyer_loyalty_card_#{index}" %>
        <%= form.label :loyalty_card, loyalty_card, :value => index  %><br />
      <%end%>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>