<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h1>Buyers</h1>
  <%= link_to '❮ Dashboard', root_path, class: "button" %>
</div>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Loyalty Card</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= buyer.name %></td>
        <td><%= buyer.loyalty_card.present? ? buyer.loyalty_card : "None"  %></td>
        <td><%= link_to 'Show', buyer %></td>
        <td><%= link_to 'Edit', edit_buyer_path(buyer) %></td>
        <td><%= link_to 'Delete', buyer, method: :delete, data: { confirm: "Are you sure you want to delete #{buyer.name}?\nThis will also delete all purchase history for this record." } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ New Buyer', new_buyer_path, class: "button" %>