<h1>Buyer with ID: <%=@buyer.id%></h1>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name, @buyer.name, disabled: true %>
  </div>

  <div class="field">
    <%= label_tag :loyalty_card %>
    <%= text_field_tag :loyalty_card, @buyer.loyalty_card, disabled: true %>
  </div>

  <%= link_to 'Edit', edit_buyer_path(@buyer), class: "button" %>
</div>

<%= link_to '❮ Back', buyers_path, class: "button" %>
