/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Form CSS*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea, input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
}

input[type=submit] {
  background-color: #003A6C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0F5D9F;
}

input[type="submit"]:disabled {
  background-color: #84878A !important;
  cursor: default;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.last-box {
  width: 35%;
}

.middle-box {
  width: 40%;
}

.first-box {
  width: 25%;
}

/*Table CSS*/
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #003A6C;
  color: white;
}

/*Button CSS*/
a.button {
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px 0 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

a.button {
  background-color: white; 
  color: black; 
  border: 2px solid #0F5D9F;
}

a.button:hover {
  background-color: #0F5D9F;
  color: white;
}

/* Remove pesky field_with_errors */
.field_with_errors {
    display: block;
    background-color: transparent;
    padding: 0;
}

.loyalty_cards label {
    display: inline;
}

.no-margin-btm {
    margin-bottom: 0 !important;
}

.menu-link {
    width: 100%;
    padding:  10px 15px !important;
    text-align: start !important;
    border: 2px solid gray !important;
    border-radius: 7px;
}

.gas_initial {
    width: 80px; 
    height: 80px; 
    border: 1px solid black; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 4rem;
}

.margin-x {
    margin-left: 1rem;
    margin-right: 1rem;
}